.recipeThumbnail {
  width: 100%;
  height: auto;
  vertical-align: baseline;
}
#friedChicken {
  border-style: solid;
  border-color: black;
  display: block;
  margin: 5px;
  margin-bottom: 10px;
}
#chocoCookies {
  border-style: solid;
  border-color: black;
  display: block;
  margin: 5px;
}

body {
  background-color: bisque;
}
